body {
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 40px;
}

h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

.inputBox {
    height: auto;
    width: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 6px;
}

#txt1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

input {
    height: 30px;
    color: black;
    font-family: cursive;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
}

#valueEmpty {
    margin-top: 20px;
    color: red;
    text-align: center;
    font-family: cursive;
}

.barcode {
    margin-top: 20px;
    height: auto;
    width: 20%;
}

.btn1 {
    margin-top: 15px;
    width: auto;
    height: auto;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: cursive;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 50px;
    cursor: pointer;
}

.btn2 {
    margin-top: 25px;
    width: auto;
    height: auto;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: cursive;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px 100px;
    cursor: pointer;
}

@media (max-width: 426px) {
    .inputBox {
        flex-direction: column;
    }

    .barcode {
        width: 90%;
    }
}